[Unit]
Description=Tricorder Service Group
Requires=voice-recorder.service web-streamer.service dropbox.service tmpfs-guard.service
Wants=tricorder-auto-update.timer tmpfs-guard.timer dropbox.path
