[Unit]
Description=Tricorder Service Group
Requires=voice-recorder.service web-streamer.service sd-card-monitor.service
Wants=tricorder-auto-update.timer tmpfs-guard.timer dropbox.path tricorder-audio-restore.service

[Install]
WantedBy=multi-user.target
