[Unit]
Description=Check for Tricorder updates on GitHub
PartOf=tricorder.target

[Timer]
OnBootSec=3m
OnUnitActiveSec=1m
AccuracySec=1s
Persistent=true
Unit=tricorder-auto-update.service

[Install]
WantedBy=timers.target
